# /etc/systemd/system/skybell-sniff.service
# Copyright © 2017 Alexander Thoukydides
# Copyright © 221 GeekVisit 

[Unit]
Description=SkyBell HD event detection
After=network-online.target

[Service]
Type=simple
#
#Set USER To user running script. if dont use root then  username will need to be part of wireshark group if using tshark. Commands are:
#sudo dpkg-reconfigure wireshark-common  (answer yes)
#sudo chmod +x /usr/bin/dumpcapsudo chmod +x /usr/bin/dumpcap

User=[username]
EnvironmentFile=/etc/default/skybell-sniff
ExecStart=/usr/local/bin/skybell-sniff.pl ${SKYBELL_HOST} ${SNIFFER} ${SNIFFER_CMD_TCPDUMP} ${SNIFFER_CMD_TSHARK} ${SKYBELL_CMD_ACTION}  
StandardOutput=journal
#Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
